<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item" id="home">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item" id="about">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item" id="login">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item" id="register">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item" id="searchNgo">
      <a class="nav-link" href="/searchNgo">View NGOs</a>
    </li>
    <li class="nav-item" id="Contact">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item" id="Donate">
      <a class="nav-link" href="/donate">Donate</a>
    </li>
    <li class="nav-item" id="Events">
      <a class="nav-link" href="/event">Events</a>
    </li>
  </ul>
</nav>
<!-- <nav>
  <div class="logo">LOGO</div>
  <ul>
    <li><a href="/">Home</li>
    <li><a href="/about">About</li>
    <li><a href="">Blog</li>
    <li><a href="">Contact</li>
    <li><a class="active" href="">Log In</li>
  </ul>
</nav> -->
