<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">
      <h2>Charity Aggregators: Looking for Nonprofit Feedback</h2>
      <br />
      <img src="about.jpg"/>
        <div class="col-sm-4">
          <p>
            Charitable giving makes the world a better place, not only by giving support to those who need it most, but by bringing us closer to our neighbors, no matter if they’re next door or around the world. Whether you’ve committed to being more charitable this year or you just want to find a way to build it into your daily life, these 7 apps and websites will help you be a more engaged human citizen.
          </p>
          <p>
            When you think about it, there are tons of conveniences that you can go without—you can brew your own coffee instead of getting a $4 Starbucks latte, you can prepare a lunch in the morning instead of getting a sandwich at the office cafe, and you can just skip an afternoon chocolate from the vending machine. I Can Go Without helps you make good decisions and contribute to charity in the process.
          </p>
          <p>
            If you’re into walking, running, biking, or doing almost any other physical activity, Charity Miles can hep you turn your miles into cash for charities. By partnering with companies like Humana, Johnson & Johnson, and Timex, Charity Miles helps you improve your health and make a difference at the same time!
          </p>
        </div>
  
    </div>
  </body>
  <% include partials/script %>
</html>
