<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>S3</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?
    family=Quicksand:500" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js">

    </script>
    <script type="text/javascript">
          $(window).on('scroll',function(){
            if($(windows).scrollTop()){
              $('nav').addClass('black');
            }
          })
    </script>
  
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="logo">S3</div>
        <ul>
          <li><a href="/">Home</li>
          <li><a href="/about">About</li>
          <li><a href="/searchNgo">View NGO</li>
          <li><a href="/register">Register</li>
            <li><a href="/donate">Donate Now</li>
          <li><a class="active" href="/login">Log In</li>
        </ul>
      </nav>
      <section class="sec1">

      </section>
<!-- Cards -->
      <!-- <div class="box">
        <div class="container">
           <div class="row">

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

              <div class="box-part text-center">

                                <img src="/l1.png"/>

                <div class="title">
                  <h1>Trishul</h1>
                </div>

                <div class="text">
                  <span>At Trishul Women Empowerment Program (TWEP), our aim is to support economically less-privileged women from rural areas and urban slums as well as revive traditional art and handicrafts by training and encouraging budding artisans through our skill development programs.</span>
                            </div>

                            <div class="text">

                                 <h3><a href="https://www.trishul-ngo.org/"><i>Click here to know more!</i></a></h3>
                             </div>




               </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

              <div class="box-part text-center">

                      <img src="/l2.png"/>


                <div class="title">
                  <h1>BIGGER THAN LIFE</h1>
                </div>

                <div class="text">
                  <span>BIGGER THAN LIFE (A registered NGO) is a project started by a group of enthusiasts, a set of ordinary people who believe they can create extra ordinary possibilities in the lives of the underprivileged kids of Mumbai. </span>
                </div>

                            <div class="text">
                                <h3><a href="http://www.biggerthanlife.in/"><i>Click here to know more!</i></a></h3>
                             </div>

               </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

              <div class="box-part text-center">

                                <img src="/l3.png"/>


                <div class="title">
                  <h1>AKSHARA</h1>
                </div>

                <div class="text">
                  <span>Akshara is a project of FREA-India, a registered Trust, No. F1656 (BOM), with an exemption from Income Tax under Section 80G and with a FCRA registration.</span>
                            </div>

                            <div class="text">
                                <h3><a href="/magic"><i>See Current Event...</i></a></h3>
                </div>



               </div>
            </div>





        </div>
        </div>


    </div> -->

    <div class="container">
      <p>

      </p>
      <a>       </a>
      <h3>Emergency Events:</h3>
      <p>

      </p>
<!-- faltu -->
 <div class="card-deck">
    <div class="row">
      <a>       </a>
    <div class="card" style="width: 18rem;">

  <img class="card-img-top" src="/flood.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kerala Flood</h5>
    <p class="card-text">There is heavy flood in Kerala, people need immediate help. Please help</p>
    <a href="#" class="btn btn-primary">View details...</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/su.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Tsunami</h5>
<p class="card-text">Due tsunami in Gujarat, hundreds of households are destroyed. Help Needed</p>
<a href="#" class="btn btn-primary">View details...</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/fire.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Volcanic Eruption</h5>
<p class="card-text">Malaysian peninsula is in havoc. Help needed immediately.</p>
<a href="#" class="btn btn-primary">View details...</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/fire1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Mumbai Fire</h5>
<p class="card-text">Due to a short-circuit in a top Mumbai hotel, fire has killed 23 and several are injured</p>
<a href="#" class="btn btn-primary">View details...</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/su1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Japanese Earthquake</h5>
<p class="card-text">A massive earthquake in Japan has cost many a life and property. Please help</p>
<a href="#" class="btn btn-primary">View details...</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/acc.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Bus Accident</h5>
<p class="card-text">A bus has collapsed from a valley in a remote village needing help</p>
<a href="#" class="btn btn-primary">View details...</a>
</div>
</div>
</div>
</div>
</div>
<div class="container">
  <p>

  </p>
  <a>       </a>
  <h3>TOP NGOS:</h3>
  <p>

  </p>
<!-- faltu -->
<div class="card-deck">
<div class="row">
  <a>       </a>
<div class="card" style="width: 18rem;">

<img class="card-img-top" src="/l1.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Good Will</h5>
<p class="card-text">Project Nanhi Kali is a participatory project where you can sponsor the education of an underprivileged girl child.</p>
<a href="#" class="btn btn-primary">Details</a>
</div>
</div>

<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/l2.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Trishul</h5>
<p class="card-text">hereafter, in the first year you will receive the photograph, profile and progress report of the Nanhi Kali you support.</p>
<a href="#" class="btn btn-primary">Details</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/l3.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Akshaya</h5>
<p class="card-text">Project Nanhi Kali is a participatory project where you can sponsor the education of an underprivileged girl child</p>
<a href="#" class="btn btn-primary">Details</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/l4.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Helping Hands</h5>
<p class="card-text">Since 2005, Project Nanhi Kali is jointly managed by the K. C. Mahindra Education Trust and Naandi Foundation. t.</p>
<a href="#" class="btn btn-primary">Details</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/l5.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Kid Power</h5>
<p class="card-text">Apart from the objective of impacting the Anand Mahindra alsos to ’give back’ in a focused manner..</p>
<a href="#" class="btn btn-primary">Details</a>
</div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="/l1.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Aashadeep</h5>
<p class="card-text">Anand Mahindra, the current chairman of Mahindra & Mahindra Ltd., founded Project Nanhi Kali.</p>
<a href="#" class="btn btn-primary">Detailse</a>
</div>
</div>
</div>
</div>
</div>
    </div>
  </body>
</html>
